$white: #FFFFFF;
$dark-blue: #1F2E55;
$dark-grey: #717FA6;
$light-grey: #F7F9FF;
$neon-blue: #382AE1;
$color-hover: #766CF1;
$font: 'Red Hat Display',
sans-serif;


%action-buttons {
    font-weight: 900;
    font-size: 15px;
    line-height: 19px;
    outline: none;
    border: 0;
    font-family: $font;
}

%text-characteristics {
    font-size: 14px;
    line-height: 19px;
}

@function backgrounds ($url) {
    @return url($url) #E0E8FF contain no-repeat;
}

@function boxShadow ($properties) {
    @return $properties;
}

@mixin for-desktop-only {
    @media (min-width: 1000px) {
        @content;
    }
}


body {
    background: backgrounds("../img/pattern-background-mobile.svg");
    display: flex;
    height: 710px;
    font-family: $font;

    @include for-desktop-only {
        background: backgrounds("../img/pattern-background-desktop.svg");
        height: 900px;
    }

    .main-content {
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 327px;
        height: 567px;
        border-radius: 20px;
        background-color: $white;
        box-shadow: boxShadow(0px 40px 40px -20px rgba(13, 48, 189, 0.151826));

        @include for-desktop-only {
            width: 450px;
            height: 697px;
        }


        &__image {
            width: 100%;
            height: 160px;
            border-radius: 20px 20px 0 0;

            @include for-desktop-only {
                height: 220px;
            }
        }

        /*section sumary*/
        .summary {
            margin: 32px 32px 24px;

            @include for-desktop-only {
                margin: 45px 48px 20px;
            }

            &__title {
                margin-bottom: 16px;
                font-size: 22px;
                line-height: 29.11px;
                text-align: center;
                font-weight: 900;
                color: $dark-blue;

                @include for-desktop-only {
                    margin-bottom: 17px;
                    font-size: 28px;
                    line-height: 37px;
                }

            }

            &__subtitle {
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                font-weight: 500;
                color: $dark-grey;

                @include for-desktop-only {
                    font-size: 16px;
                    line-height: 26px;
                }
            }

        }

        /*section plan*/
        .plan {
            display: flex;
            margin: 0 24px;
            background-color: $light-grey;
            border-radius: 11px;

            @include for-desktop-only {
                margin: 20px 48px 32px;
            }

            &__image {
                width: 48px;
                height: 48px;
                margin: 17px 20px 16px 16px;


                @include for-desktop-only {
                    margin: 25px 20px 25px 25px;
                }
            }

            .description {
                display: flex;
                flex-direction: column;


                &__title {

                    font-weight: 900;
                    color: $dark-blue;
                    margin: 21px 43px 3px 0;
                    @extend %text-characteristics;

                    @include for-desktop-only {
                        font-size: 16px;
                        line-height: 21.17px;
                        margin: 25px 68.81px 6px 0;
                    }
                }

                &__price {

                    font-weight: 500;
                    color: $dark-grey;
                    margin: 0 50px 19px 0;
                    @extend %text-characteristics;

                    @include for-desktop-only {
                        font-size: 16px;
                        line-height: 21px;
                        margin: 0 94px 25px 0;
                    }
                }

            }
        }

        &__change {
            font-size: 13px;
            line-height: 17px;
            font-weight: 700;
            color: $neon-blue;
            text-decoration-line: underline;
            margin: 33px 16px 31px 0;

            @include for-desktop-only {
                @extend %text-characteristics;
                margin: 40px 24px 39px 0;
                transition: 0.2s;

                &__change:hover {
                    color: $color-hover;
                    text-decoration: none;
                }

            }

        }

        /*section action*/
        .action {
            display: flex;
            flex-direction: column;
            margin: 24px 24px 32px 24px;

            @include for-desktop-only {
                display: flex;
                flex-direction: column;
                margin: 0 48px 48px;
            }

            &__payment {
                color: $white;
                padding: 15px 65px;
                background-color: $neon-blue;
                box-shadow: boxShadow(0px 20px 20px rgba(56, 42, 225, 0.190291));
                @extend %action-buttons;

                @include for-desktop-only {
                    padding: 15px 102px;
                    transition: 0.5s;

                    &_payment:hover {
                        background-color: $color-hover;
                    }
                }

                &__cancel {
                    background-color: transparent;
                    margin-top: 24px;
                    color: $dark-grey;
                    @extend %action-buttons;

                    @include for-desktop-only {
                        margin-top: 32px;
                        transition: 0.5s;

                        &__cancel:hover {
                            color: $dark-blue;
                        }
                    }
                }
            }
        }
    }
}